<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfilm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.myfilm"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".recommend.RecommendMusic"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendFairytale"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendFight"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendRomantic"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendFantastic"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendCartoon"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendComedy"
            android:exported="false" />
        <activity
            android:name=".recommend.RecommendDetective"
            android:exported="false" />
        <activity
            android:name=".Start"
            android:exported="false" />
        <activity
            android:name=".Rules"
            android:exported="false" />
        <activity
            android:name=".recommend.Recommend"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Fairytale"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Fantastic"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Music"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Romantic"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Fight"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Cartoon"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Detective"
            android:exported="false" />
        <activity
            android:name=".choosefilm.Comedy"
            android:exported="false" />
        <activity
            android:name=".choosefilm.ChooseFilm"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>